@import '../../../styles/variables';
    
.comment-container {
    min-width: 5em;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding: $container-padding;
    padding-left: 5px;
    border-left: 2px solid $blue;
}

.comment-reply-container {
    margin-left: 5px;
}