@import '../../styles/variables';
    
.spam-container {
    margin: 10px;
    background-color: $container-background-color;
}

.spam-info {
    color: $info-text-color;
    font-size: 14px;
}

.spam-text {
    overflow-wrap: anywhere;
}